version: "3.9"

services:
  backend:
    image: decathlon-backend
    build:
      context: .
      dockerfile: Dockerfile
    container_name: decathlon-backend-container
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7
    container_name: decathlon-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
